    body {
        background-color: black;
        margin: 0px;
    }
    
    .mainHeading {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 auto 0 auto;
        font-size: 3rem;
    }
    
    .heading {
        margin-left: 5px;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .topBox {
        padding-left: 5px;
        border-bottom-width: 5px;
        padding-bottom: 5px;
        background-color: #66BFBF;
        text-align: center;
    }
    
    .majorBox {
        padding-left: 5px;
        border-bottom-width: 5px;
        padding-bottom: 5px;
        padding-right: 8px;
        background-color: rgb(241, 156, 156);
    }
    
    .pStandard {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .gameImage {
        height: 100%;
        width: 100%;
        margin-top: 5px;
        margin-left: 6px;
        margin-bottom: 1px;
    }
    /*.pictureContainer {}*/
    
    .pictureBox {
        height: 33%;
        width: 33%;
        text-align: center;
        display: inline-block;
    }
    
    .caption {
        margin-top: 0px;
        margin-bottom: 4%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }